.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add form {
  gap: 20px;
}

.add-img-upload img {
  width: 120px;
  cursor: pointer;
}

.add-product-name {
  width: max(40%, 280px);
}

.add-product-discription {
  width: max(40%, 280px);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(190, 189, 189);
  outline: none;
}

input:focus {
  border: 1px solid tomato
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(190, 189, 189);
  outline: none;
}

textarea:focus {
  border: 1px solid tomato
}

.add-category-price {
  display: flex;
  gap: 30px;
}

select {
  max-width: 120px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(190, 189, 189);
  outline: none;
}


.add-btn {
  max-width: 120px;
  border: none;
  padding: 10px;
  background-color: tomato;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
